/* colors for palette */

$primary: rgb(245, 157, 81) // #F59D51

$accent: rgb(47, 255, 138) // #2fff8a

$warn: rgb(215, 116, 77) // #D7744D

$background: rgb(250, 250, 250) // #fafafa

$foreground: rgb(245, 157, 81) // #F59D51

/* misc colors */

$white: rgb(250, 250, 250)

$disabled: rgba(0, 0 , 0, 25%)

$primary-gradient: linear-gradient(136.56deg, #F59D51 18.39%, #D7744D 81.19%)