<div class="navbar">
  <div class="navbar-item navbar-item--brand">
    <a class="navbar-item__logo" routerLink="/">
      <mat-icon>local_library</mat-icon>
    </a>
  </div>
  <div class="navbar-item navbar-item--navigation">
    <a class="navbar-item__link" routerLink="/knjige" routerLinkActive="active-link">Knjige <mat-icon>library_books</mat-icon></a>
    <a class="navbar-item__link" routerLink="/clanovi" routerLinkActive="active-link">Članovi <mat-icon>people</mat-icon></a>
    <!-- <a class="navbar-item__link" routerLink="/clanovi">Statistika <mat-icon>poll</mat-icon></a> -->
  </div>
</div>